# Node.js
node_modules/

# TypeScript
*.js
*.js.map
*.d.ts
*.tsbuildinfo

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log

# Build results
dist/
build/

# Environment variables
.env

# Dependency lock file
yarn.lock
package-lock.json

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# TypeScript cache
tsconfig.tsbuildinfo

.vercel

.vercel
